:root {
    font-family: calibri light;
    font-size: 15px;
    font-weight: bold
}

body #table-margin,
th {
    margin: -9px;
    padding: 4px;
    border: 1px solid lightgrey;
    border-collapse: collapse;
    border-color: lightgrey;
    border-right: none
}

table tr td {
    margin: -9px;
    padding: 4px;
}

table tr th {
    text-align: left;
    color: white;
    background: #52b506
}

td[class] {
    border-left: 1px solid lightgrey;
    border-right: 1px solid lightgrey;
}

colgroup[span="1"] {
    width: 150px;
    border: 1px solid lightgrey;
}

colgroup[span="2"] {
    width: 110px;
}

colgroup[span="3"] {
    width: 90px;
}

colgroup[span="4"] {
    width: 70px;
}

table tr:nth-child(2n) {
    background: #f2f2e6
}

.germany:before {
    content: url(../Images/Germany-flag.png);
}

.mexico:before {
    content: url(../Images/Mexico-flag.png);
}

.uk:before {
    content: url(../Images/UK-flag.png);
}