:root {
	font-size: 24px;
	text-align: justify;
	background: #a9a9a9;
}

body>header h1,
ul li,
ul li a {
	text-align: center;
	text-decoration: none;
	list-style: none;
}

body>header h1 {
	color: #fafad2;
}

h1:only-child {
	color: #fafad2;
	font-size: 1.3em;
}

ul li a {
	font-weight: bold;
	font-size: 1.1em;
	color: #f9fcfc;
}

a[class=current] {
	background: #d3d3d3;
}

a[class=underline] {
	text-decoration: underline;
}

header+p {
	font-size: 19px;
	width: 1330px;
	height: 43px;
	overflow: hidden;
}

footer>p,
p>a {
	font-size: 15px;
	text-decoration: none;
	color: black;
}

body>footer {
	font-size: 19px;
	text-align: center;
}