body {
    font-size: 57px;
    font-family: 'Old English Text MT';
    font-weight: bold;
    background-image: url("../Images/Landscape nature.jpg")
}

p {
    border: hidden;
    border-radius: 25px
}

p.text {
    text-align: right;
    text-shadow: 3px 0px 4px darkslateblue;
    color: lightgray;
}

p.text:hover {
    text-shadow: 3px 0px 15px orangered;
    color: gold;
}

p.box {
    padding-left: 1em;
    text-shadow: 3px 0px 5px white;
    box-shadow: 3px 0px 10px gray;
    color: rebeccapurple
}

p.box:hover {
    box-shadow: 3px 0px 80px black;
    color: goldenrod
}

p.box2 {
    padding-left: 1em;
    text-shadow: 3px 0px 5px black;
    box-shadow: 3px 0px 10px gray;
    color: rebeccapurple
}

p.box2:hover {
    box-shadow: 3px 0px 80px goldenrod;
    color: darkgoldenrod
}

p.box3 {
    padding-left: 1em;
    text-shadow: 3px 0px 5px white;
    box-shadow: 3px 0px 10px gray;
    color: limegreen
}

p.box3:hover {
    text-shadow: 3px 0px 5px orangered;
    box-shadow: 3px 0px 80px white;
    color: goldenrod
}