body {
    font-family: Verdana, Sans-Serif;
    font-size: 20px;
}

pre {
    display: inline-block;
    text-decoration: underline;
    margin: 0;
}

table {
    border-collapse: collapse;
}

table tr td {
    border: 1px solid black;
    border-collapse: collapse;
}

span {
    border: 1px solid red;
    color: red;
}

span.hidden {
    visibility: hidden;
}

span.visible {
    visibility: visible;
}

span.none {
    display: none;
}

table tr td.collapse {
    visibility: collapse;
}