body, div, span, header, h1, nav, ul, li, a, img, section, article, aside {
    margin: 0;
    padding: 0;
}

html body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
}

#wrapper {
    width: 905px;
    height: 655px;
    border: 3px solid black;
    border-radius: 5px;
}

header {
    margin-top: 15px;
    color: #1ABAF4;
    font-size: 13px;
    text-align: center;
    margin-right: 25px;
    margin-left: 25px;
    border-bottom: 3px solid #5A5A5A
}

header h1 {
    display: inline-block;
    text-decoration: underline;
    padding-bottom: 10px;
}

.apple {
    border: 3px solid #5A5A5A;
    margin-top: 10px;
    margin-left: 10px;
    padding: 15px 5px;
    width: 585px;
    float: left;
}

.apple img {
    width: 275px;
    border: 3px solid #5A5A5A;
    margin: 5px 0;
    margin-right: 5px;
}

.price {
    text-align: center;
    float: left;
    width: 265px;
    margin-top: 130px;
}

.price div {
    margin:  25px;
}

.price div label {
    font-size: 21px;
}
